
<!DOCTYPE html>
<html th:replace="~{base :: layout( ~{::content})}">
<div th:fragment="content">
	<h1>Calendriers</h1>

	<form action="/calendars" class="form-inline">
		<div class="form-group mb-2">
			<input type="text" class="form-control" name="name"
				placeholder="Search Calendar" /> <input type="submit" value="Search"
				class="btn btn-primary" />
		</div>
	</form>
	
	<div class="card">
				<div class="card card-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Owner</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="calendar:${calendars}">
								<td th:text="${calendar.id}"></td>
								<td><a th:href="@{/calendar/} + '?id=' + ${calendar.id}" th:text="${calendar.name}"></a></td>
								<td th:text="${calendar.owner.username}"></td>
							</tr>
						</tbody>
	
					</table>


				</div>
			</div>
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:each="i : ${#numbers.sequence(0,calendars.getTotalPages()-1)}">
					<a th:href="@{calendars(page=${i})}" th:text="${i}" class="nav-link"
					th:classappend="${currentPage}==${i}?'active':''"></a>
				</li>
			</ul>
</div>

