
<!DOCTYPE html>
<html th:replace="~{base :: layout( ~{::content})}">
<div th:fragment="content">
	<h1 th:text="${calendar.name}">Calendrier</h1>
		<div>
			<p>Created by <span th:text="${calendar.owner.username}"></span> </p>
			<ul th:each=" user : ${calendar.users}">
				<li th:text="${user.username}"></li>
			</ul>
		</div>
	<h2>Events</h2>
	<div th:each="event : ${events}">
		<div>
			<h5 ><u th:text="${event.name}"></u></h5>
			<p th:text="${event.date}"></p>
			<p> Details : <span th:text="${event.details}"></span></p>
		</div>
	</div>
</div>

