<!DOCTYPE html>
<html th:replace="~{base :: layout( ~{::content})}">
<div th:fragment="content">
    <script>
        function updateStart() {
            var start = document.getElementById("start");
            var date = document.getElementById("dateStart").value;
            var time = document.getElementById("timeStart").value;
            start.value = date + " "+time+":00";
            console.log(start.value);
        }
        function updateFinish() {
            var finish = document.getElementById("finish");
            var date = document.getElementById("dateFinish").value;
            var time = document.getElementById("timeFinish").value;
            finish.value = date + " "+time+":00";
        }
    </script>
	<h1>Création de calendrier</h1>
    <form th:action="@{/createEvent}" action="#" method="post">
    	<p>Nom de l'événement: <input type="text" th:field="${event.title}" required/></p>
        <p>Date début: <input id="dateStart" type="date"  onchange="updateStart()" required/></p>
        <p>Heure début: <input id="timeStart" type="time"  onchange="updateStart()" required/></p>
        <p>Date fin: <input id="dateFinish" type="date"  onchange="updateFinish()" required/></p>
        <p>Heure fin: <input id="timeFinish" type="time"  onchange="updateFinish()" required/></p>
    	<p>Détails : <input type="text" th:field="${event.description}"required /></p>
        <select  class="form-control" required="required" name="cals" id="cals" th:field="${selectedcalendar.id}" >
            <option value=""> -- </option>
            <option th:each="cal : ${calendars}" th:value="${cal.id}" th:text="${cal.name}" ></option>
        </select>
        <input type="hidden" id="start" name="start" value="" th:field="${event.start}">
        <input type="hidden" id="finish" name="finish" value="" th:field="${event.finish}">

        <p><input type="submit" value="Submit" /></p>
    </form>

</div>>